{% set logo = theme_var(mobile ? 'custom_logo_mobile' : 'custom_logo') %}
{% set logo_file = (logo|first).name %}
<a href="{{ home_url }}" class="navbar-brand mr-10">
  <div style="margin-left:-440px;margin-top:15px">
    <p style="color:white">SSL Certificates</p>
    <p style="color:yellow;font-size:10px;margin-top:-20px">Trust solutions</p>
  <div>
</a>
